<div class="w-full bg-white flex flex-col gap-2">
    <div class="bg-slate-400 w-full h-48 rounded-lg"></div>
    <div>
        <h3 class="text-xl font-bold">Place</h3>
        <p>Place, region</p>
    </div>
</div>
